In [71]:
from datasets import load_dataset
import dspy
import openai
import os
import re
import pandas as pd
import ast
import json
from dotenv import load_dotenv
import numpy as np

In [72]:
load_dotenv()

True

In [73]:

openai.api_key = os.getenv('OPENAI_API_KEY')
openai.organization = os.getenv('OPENAI_ORGANIZATION')

In [74]:
lm = dspy.LM('together_ai/meta-llama/Meta-Llama-3.1-405B-Instruct-Turbo', temperature=0, max_tokens=1024)
dspy.configure(lm=lm)

In [75]:
ds = pd.read_json('../data/train_dev_test_data/ner/fewnerd_sample_test.json', encoding_errors='replace')
ds = ds.to_dict('records')

In [76]:
ds[0]

{'id': 1,
 'text': 'In the early 1930s the band moved to the Grill Room of the Taft Hotel in New York ; the band was renamed ``George Hall and His Hotel Taft Orchestra``.',
 'label': [{'Grill Room': 'BUILDING'},
  {'Taft Hotel': 'BUILDING'},
  {'New York': 'LOCATION'},
  {'George Hall and His Hotel Taft Orchestra': 'ORGANIZATION'}],
 'dataset': 'few_nerd',
 'entity': ['Grill Room',
  'Taft Hotel',
  'New York',
  'George Hall and His Hotel Taft Orchestra']}

In [77]:
def remove_space(text):
    """Clean up spacing and formatting in dialogue text."""
    lines = text.split('\n')
    cleaned_lines = []
    
    for line in lines:
        # Remove multiple spaces
        cleaned = ' '.join(line.split())
        
        # Fix spacing around punctuation
        cleaned = re.sub(r'\s+([.,!?:;])', r'\1', cleaned)
        cleaned = re.sub(r'([.,!?:;])\s+', r'\1 ', cleaned)
        
        # Fix contractions
        cleaned = re.sub(r'\s*\'\s*s\b', "'s", cleaned)
        cleaned = re.sub(r'\s*n\s*\'\s*t\b', "n't", cleaned)
        cleaned = re.sub(r'\s*\'\s*ve\b', "'ve", cleaned)
        cleaned = re.sub(r'\s*\'\s*re\b', "'re", cleaned)
        cleaned = re.sub(r'\s*\'\s*ll\b', "'ll", cleaned)
        cleaned = re.sub(r'\s*\'\s*d\b', "'d", cleaned)
        cleaned = re.sub(r'\s*\'\s*m\b', "'m", cleaned)
        
        # Fix spaces around parentheses
        cleaned = re.sub(r'\(\s+', '(', cleaned)
        cleaned = re.sub(r'\s+\)', ')', cleaned)
        
        # Remove leading/trailing whitespace
        cleaned = cleaned.strip()
        
        cleaned_lines.append(cleaned)
        
    return '\n'.join(cleaned_lines)

In [78]:
examples = [
    dspy.Example({ 
                  "text" : r["text"], 
                  "label": str(r['label'])
                }
                  ).with_inputs("text")
    
    for r in ds
    ]

In [79]:
example = examples[0]
for k, v in example.items():
    print(f"\n{k.upper()}:\n")
    print(v)

TEXT:

In the early 1930s the band moved to the Grill Room of the Taft Hotel in New York ; the band was renamed ``George Hall and His Hotel Taft Orchestra``.

LABEL:

[{'Grill Room': 'BUILDING'}, {'Taft Hotel': 'BUILDING'}, {'New York': 'LOCATION'}, {'George Hall and His Hotel Taft Orchestra': 'ORGANIZATION'}]

In [80]:
def calculate_f1_ent(gold_entities, predicted_entities):
    """
    Calculates the F1 score given the true labels and predicted labels.
    """
    # print("Input types:")
    # print(f"gold_entities type: {type(gold_entities)}")
    # print(f"predicted_entities type: {type(predicted_entities)}")
    
    if predicted_entities is None:
        return 0.0, 0.0, 0.0

    true_entities = {}
    pred_entities = {}
    
    # Convert to empty list if NaN
    def handle_nan(entities):
        # print(f"Handling NaN for: {type(entities)}")
        # If it's already a list, return it as is
        if isinstance(entities, list):
            return entities
        # Handle pandas/numpy types
        if isinstance(entities, (pd.Series, np.ndarray)):
            nan_check = pd.isna(entities)
            if isinstance(nan_check, (pd.Series, np.ndarray)):
                if nan_check.any():
                    return "[]"
            elif nan_check:
                return "[]"
        # Handle single values
        elif pd.isna(entities):
            return "[]"
        return entities

    # Handle NaN cases
    gold_entities = handle_nan(gold_entities)
    predicted_entities = handle_nan(predicted_entities)
            
    # Parse strings if needed
    if isinstance(gold_entities, str):
        gold_entities = ast.literal_eval(gold_entities)
    if isinstance(predicted_entities, str):
        predicted_entities = ast.literal_eval(predicted_entities)

    # Process gold entities
    # print(gold_entities)
    for entity in gold_entities:
        # print(entity)
        if isinstance(entity, str):
            entity = ast.literal_eval(entity)
        if entity.get('text') is not None:
            true_entities[entity['text']] = entity['value']
        else:
            for key, value in entity.items():
                true_entities[key] = value
    
    # Process predicted entities
    for entity in predicted_entities:
        if isinstance(entity, str):
            entity = ast.literal_eval(entity)
        if entity.get('text') is not None:  
            pred_entities[entity['text']] = entity['value']
        else:
            for key, value in entity.items():
                pred_entities[key] = value

    # Calculate metrics
    true_positives = sum(1 for text in true_entities if text in pred_entities and true_entities[text] == pred_entities[text])
    false_positives = sum(1 for text in pred_entities if text not in true_entities)
    false_negatives = sum(1 for text in true_entities if text not in pred_entities)

    if true_positives == 0:
        return 0.0, 0.0, 0.0

    precision = true_positives / (true_positives + false_positives)
    recall = true_positives / (true_positives + false_negatives)
    f1_score = 2 * (precision * recall) / (precision + recall)

    return precision, recall, f1_score

In [81]:
def extract_prediction(pred):
    matches = re.findall(r"\[\{.*\}\]", pred)
    # print(matches)
    parsed_answer = matches[-1] if matches else ""
    if parsed_answer == "":
        return {}
    parsed_answer = ast.literal_eval(parsed_answer)
    return parsed_answer

In [82]:
def eval_metric(true, prediction, trace=None):
    pred = prediction.label
    
    matches = re.findall(r"\[\{.*\}\]", pred)
    # print(matches)
    parsed_answer = matches[-1] if matches else ""
    if parsed_answer == "":
        return 0.0
    parsed_answer = ast.literal_eval(parsed_answer)
    # print(type(parsed_answer))
    gold_entities = ast.literal_eval(true.label)
    # print(parsed_answer)
    precision, recall, f1_score = calculate_f1_ent(gold_entities=gold_entities, predicted_entities= parsed_answer)
    return f1_score

In [83]:
from dspy.evaluate import Evaluate

evaluate = Evaluate(devset= examples, metric=eval_metric, num_threads=6, display_progress=True, display_table=10)

In [84]:
class Ent(dspy.Signature):
    """Extract named entities from the text. Possible entity type: ART, BUILDING, EVENT, LOCATION, ORGANIZATION, OTHER, PERSON, PRODUCT"""
    text = dspy.InputField()
    label = dspy.OutputField(desc="The list of named entities in the text: [{'text': the text span, 'value': the entity label},].", prefix = 'Entities:')

In [85]:
class SimpleEnt(dspy.Module):
    def __init__(self):
        super().__init__()
        self.prog = dspy.Predict(Ent)

    def forward(self, text):

        return self.prog(text = text)

In [86]:
simple_ent = SimpleEnt()

In [87]:
pred = simple_ent(text=example.text)
print("\nTEXT:\n")
print(example.text)

print("\nANSWER:\n")
print(example.label)
print("\nPREDICTION:\n")
print(pred)

TEXT:

In the early 1930s the band moved to the Grill Room of the Taft Hotel in New York ; the band was renamed ``George Hall and His Hotel Taft Orchestra``.

ANSWER:

[{'Grill Room': 'BUILDING'}, {'Taft Hotel': 'BUILDING'}, {'New York': 'LOCATION'}, {'George Hall and His Hotel Taft Orchestra': 'ORGANIZATION'}]

PREDICTION:

Prediction(
    label="[{'text': 'George Hall', 'value': 'PERSON'}, {'text': 'Grill Room of the Taft Hotel', 'value': 'LOCATION'}, {'text': 'New York', 'value': 'LOCATION'}, {'text': 'Hotel Taft Orchestra', 'value': 'ORGANIZATION'}, {'text': 'George Hall and His Hotel Taft Orchestra', 'value': 'ORGANIZATION'}, {'text': 'Taft Hotel', 'value': 'LOCATION'}]"
)

In [88]:
eval_metric(example, pred)

0.5

In [89]:
evaluate = Evaluate(devset= examples, metric=eval_metric, num_threads=6, display_progress=True, display_table=10, return_outputs= True, return_all_scores=True)
results = evaluate(simple_ent)
items = []
for sample in results[1]:

    item = {}
    sentence = sample[0]['text']
    label = sample[0]['label']
    if sample[1] == {}:
        pred = {}
    else:
        pred = sample[1]['label']
    item['text'] = sentence
    item['label'] = label
    item['pred'] = pred
    items.append(item)
df_result = pd.DataFrame(data = items)
df_result.to_csv('results/ner/llama-0shot-ner.csv')

Average Metric: 0.5 / 1  (50.0):   0%|          | 0/251 [00:00<?, ?it/s]

Average Metric: 149.9451832481245 / 251  (59.7): 100%|██████████| 251/251 [00:51<00:00,  4.91it/s]

In [90]:
def evaluate_modified_set(ds, program):
    examples = [
    dspy.Example({ 
                  "text" : remove_space(r["modified_text"]), 
                  "label": str(r['modified_label']),
                  "original_text": remove_space(r['original_text']),
                  "original_label": str(r['original_label']),
                  "index": r['index']
                #   "original_label": str(r['original_label'])
                }
                  ).with_inputs("text")
    
    for r in ds
    ]
    evaluate = Evaluate(devset= examples, metric=eval_metric, num_threads=6, display_progress=True, display_table=1, return_outputs= True, return_all_scores=True)
    results = evaluate(program)
    return results

In [91]:
class Ent(dspy.Signature):
    """Extract named entities from the text. Possible entity type: ART, BUILDING, EVENT, LOCATION, ORGANIZATION, OTHER, PERSON, PRODUCT"""
    text = dspy.InputField()
    label = dspy.OutputField(desc="The list of named entities in the text: [{'text': the text span, 'value': the entity label},].", prefix = 'Entities:')

class SimpleEnt(dspy.Module):
    def __init__(self):
        super().__init__()
        self.prog = dspy.Predict(Ent)

    def forward(self, text):

        return self.prog(text = text)

In [92]:
import glob
import difflib

In [96]:
# Configure GPT-4 as the language model
original_pred_ds = pd.read_csv('results/ner/llama-0shot-ner.csv', index_col=False)
original_pred_ds['text'] = original_pred_ds['text'].apply(lambda x: remove_space(x.encode('utf-8').decode('unicode-escape')))  # Replace 'your_function' with the actual function

# Get specific json files we want to process
json_files = glob.glob('../data/modified_data/ner/*_100.json')

for json_file in json_files:
    # Load the json file
    print(json_file)
    with open(json_file, 'r') as f:
        data = json.load(f)
    
    results = evaluate_modified_set(data,simple_ent)

    # Convert results to dataframe
    items = []
    for sample in results[1]:
        item = {}
        sentence = sample[0]['text']
        label = sample[0]['label'] 
        # print(sample)
        if sample[1] == {}:
            pred = "[]"
        else:
            pred = sample[1]['label']
        item['text'] = sentence
        # print(label)
        # item['modified_label'] = [{entity['text']: entity['value']} for entity in label]
        item['modified_label'] = label
        pred = extract_prediction(pred)
        item['modified_pred'] = pred
        item['modified_pred'] = [{entity['text']: entity['value']} for entity in pred]
        original_text = sample[0]['original_text'].encode('utf-8').decode('unicode-escape')
        item['original_text'] = original_text
        index = sample[0]['index']
        # Find the best match for the original_text in the original_pred_ds['text'] using difflib
        matches = original_pred_ds['pred'].iloc[index] if index < len(original_pred_ds) else []
        # print(matches)
        item['original_label'] = sample[0]['original_label']
        item['original_pred'] = matches if matches else '[]'
        # Check if original_label is NaN and assign modified_label if it is
        if pd.isna(item['original_label']):
            item['original_label'] = item['modified_label']
            
        items.append(item)
    
    df_result = pd.DataFrame(data=items)
    
    # Save results with filename based on input json
    output_filename = f"results/ner/llama-0shot-{json_file.split('/')[-1].replace('.json', '')}.csv"
    df_result.to_csv(output_filename)

../data/modified_data/ner/casual_100.json

2024-12-17T00:44:01.662566Z [error    ] Error for example in dev set: 		 invalid syntax (<unknown>, line 1). Set `provide_traceback=True` to see the stack trace. [dspy.evaluate.evaluate] filename=evaluate.py lineno=200
Average Metric: 51.63930546577604 / 92  (56.1): 100%|██████████| 92/92 [00:00<00:00, 2930.87it/s]

../data/modified_data/ner/discourse_100.json

Average Metric: 41.50670995670995 / 72  (57.6): 100%|██████████| 72/72 [00:00<00:00, 3192.05it/s]

../data/modified_data/ner/compound_word_100.json

Average Metric: 51.73146591970119 / 86  (60.2): 100%|██████████| 86/86 [00:00<00:00, 3423.17it/s]

../data/modified_data/ner/temporal_bias_100.json

Average Metric: 54.531826670061946 / 91  (59.9): 100%|██████████| 91/91 [00:00<00:00, 3325.33it/s]

../data/modified_data/ner/coordinating_conjunction_100.json

Average Metric: 43.978860028860026 / 71  (61.9): 100%|██████████| 71/71 [00:00<00:00, 3003.76it/s]

../data/modified_data/ner/capitalization_100.json

Average Metric: 55.71764346764344 / 100  (55.7): 100%|██████████| 100/100 [00:00<00:00, 2053.90it/s]

../data/modified_data/ner/dialectal_100.json

Average Metric: 62.85448179271706 / 99  (63.5): 100%|██████████| 99/99 [00:00<00:00, 3401.46it/s]

../data/modified_data/ner/sentiment_100.json

Average Metric: 75.32575757575755 / 123  (61.2): 100%|██████████| 123/123 [00:00<00:00, 1034.91it/s]

../data/modified_data/ner/grammatical_role_100.json

Average Metric: 54.84865787806961 / 91  (60.3): 100%|██████████| 91/91 [00:00<00:00, 1174.49it/s]

2024-12-17T00:44:02.915812Z [error    ] Error for example in dev set: 		 invalid syntax (<unknown>, line 1). Set `provide_traceback=True` to see the stack trace. [dspy.evaluate.evaluate] filename=evaluate.py lineno=200

../data/modified_data/ner/length_bias_100.json

Average Metric: 51.63930546577604 / 92  (56.1): 100%|██████████| 92/92 [00:00<00:00, 3379.96it/s]

../data/modified_data/ner/concept_replacement_100.json

Average Metric: 49.74309056956115 / 85  (58.5): 100%|██████████| 85/85 [00:00<00:00, 3224.96it/s]

../data/modified_data/ner/typo_bias_100.json

Average Metric: 58.41782955606483 / 100  (58.4): 100%|██████████| 100/100 [00:00<00:00, 1238.50it/s]

2024-12-17T00:44:03.236619Z [error    ] Error for example in dev set: 		 unterminated string literal (detected at line 1) (<unknown>, line 1). Set `provide_traceback=True` to see the stack trace. [dspy.evaluate.evaluate] filename=evaluate.py lineno=200

../data/modified_data/ner/geographical_bias_100.json

Average Metric: 87.02593984962405 / 134  (64.9): 100%|██████████| 134/134 [00:00<00:00, 1510.49it/s]

../data/modified_data/ner/punctuation_100.json

Average Metric: 52.64783549783548 / 100  (52.6): 100%|██████████| 100/100 [00:00<00:00, 2834.54it/s]

../data/modified_data/ner/derivation_100.json

Average Metric: 42.8778584160937 / 66  (65.0): 100%|██████████| 66/66 [00:00<00:00, 2887.89it/s]

../data/modified_data/ner/active_to_passive_100.json

Average Metric: 47.79523809523809 / 81  (59.0): 100%|██████████| 81/81 [00:00<00:00, 2914.64it/s]

../data/modified_data/ner/negation_100.json

Average Metric: 57.16134453781511 / 110  (52.0): 100%|██████████| 110/110 [00:00<00:00, 3202.69it/s]

In [97]:
from scipy import stats

In [98]:
result_files = glob.glob('results/ner/llama-0shot-*_100.csv')

aggregated_results = []

def convert_string_to_entities(entity_str):
    """Convert string representation of entities to proper format"""
    if isinstance(entity_str, str):
        try:
            # Convert string to list of dicts
            entities = ast.literal_eval(entity_str)
            # Handle nested lists by flattening
            if isinstance(entities, list):
                # Handle double nested lists
                if len(entities) > 0 and isinstance(entities[0], list):
                    entities = entities[0]
                # Handle list of dicts with text/value format
                if len(entities) > 0 and isinstance(entities[0], dict) and 'text' in entities[0]:
                    return entities
                # Handle list of single-key dicts
                if all(isinstance(e, dict) and len(e) == 1 for e in entities):
                    converted = []
                    for e in entities:
                        for text, value in e.items():
                            converted.append({'text': text, 'value': value})
                    return converted
            return entities
        except:
            return []
    return entity_str

for file in result_files:
    # Extract modification type from filename
    mod_type = file.split('-')[-1].replace('.csv','')
    print(mod_type)
    # Read results file
    df = pd.read_csv(file)

    # Calculate F1 scores row by row
    original_f1_scores = []
    modified_f1_scores = []
    original_precision_scores = []
    original_recall_scores = []
    modified_precision_scores = []
    modified_recall_scores = []

    for idx, row in df.iterrows():
        # Convert string representations to proper format
        original_label = convert_string_to_entities(row['original_label'])
        original_pred = convert_string_to_entities(row['original_pred'])
        modified_label = convert_string_to_entities(row['modified_label'])
        modified_pred = convert_string_to_entities(row['modified_pred'])

        # Calculate F1 for original
        o_precision, o_recall, o_f1 = calculate_f1_ent(original_label, original_pred)
        original_f1_scores.append(o_f1)
        original_precision_scores.append(o_precision)
        original_recall_scores.append(o_recall)

        # Calculate F1 for modified
        m_precision, m_recall, m_f1 = calculate_f1_ent(modified_label, modified_pred)
        modified_f1_scores.append(m_f1)
        modified_precision_scores.append(m_precision)
        modified_recall_scores.append(m_recall)

    # Take averages
    original_f1 = sum(original_f1_scores) / len(original_f1_scores) if original_f1_scores else 0
    modified_f1 = sum(modified_f1_scores) / len(modified_f1_scores) if modified_f1_scores else 0
    original_precision = sum(original_precision_scores) / len(original_precision_scores) if original_precision_scores else 0
    original_recall = sum(original_recall_scores) / len(original_recall_scores) if original_recall_scores else 0
    modified_precision = sum(modified_precision_scores) / len(modified_precision_scores) if modified_precision_scores else 0
    modified_recall = sum(modified_recall_scores) / len(modified_recall_scores) if modified_recall_scores else 0
    
    # Calculate the difference between original and modified F1 scores
    difference = -round(original_f1 - modified_f1, 2)
    
    # Calculate percentage difference with respect to original F1
    pct_difference = -round((original_f1 - modified_f1) / original_f1 * 100, 2) if original_f1 != 0 else 0
    
    # Perform t-test between original and modified predictions
    t_stat, p_value = stats.ttest_ind(
        (df['original_pred'] == df['original_label']).astype(float),
        (df['modified_pred'] == df['modified_label']).astype(float)
    )
    
    aggregated_results.append({
        'task': 'named_entity_recognition',
        'modification': mod_type,
        'original_res': round(original_f1, 2),
        'modified_res': round(modified_f1, 2),
        'difference': difference,  # Difference in F1 score
        'pct_difference': pct_difference,  # Percentage difference relative to original F1
        'p_value': p_value,  # Add p-value from t-test
        'original_precision': round(original_precision, 2),
        'original_recall': round(original_recall, 2),
        'modified_precision': round(modified_precision, 2), 
        'modified_recall': round(modified_recall, 2)
    })

# Create final results dataframe
results_df = pd.DataFrame(aggregated_results)

# Sort the results based on modification_name
modification_name = ['temporal_bias_100', 'geographical_bias_100','length_bias_100', 'typo_bias_100', 'capitalization_100', 'punctuation_100', 'derivation_100', 'compound_word_100','active_to_passive_100','grammatical_role_100', 'coordinating_conjunction_100', 'concept_replacement_100','negation_100','discourse_100','sentiment_100','casual_100', 'dialectal_100']
results_df['modification'] = pd.Categorical(results_df['modification'], categories=modification_name, ordered=True)
results_df = results_df.sort_values(by='modification')

# Calculate averages across all modifications
avg_original = results_df['original_res'].mean()
avg_modified = results_df['modified_res'].mean()
avg_difference = avg_original - avg_modified
avg_pct_difference = results_df['pct_difference'].mean()
avg_orig_precision = results_df['original_precision'].mean()
avg_orig_recall = results_df['original_recall'].mean()
avg_mod_precision = results_df['modified_precision'].mean()
avg_mod_recall = results_df['modified_recall'].mean()

# Add averages as a new row
results_df.loc[len(results_df)] = {
    'task': 'named_entity_recognition',
    'modification': 'average',
    'original_res': round(avg_original, 2),
    'modified_res': round(avg_modified, 2),
    'difference': -round(avg_difference, 2),
    'pct_difference': round(avg_pct_difference, 2),
    'p_value': None,  # No p-value for average row
    'original_precision': round(avg_orig_precision, 2),
    'original_recall': round(avg_orig_recall, 2),
    'modified_precision': round(avg_mod_precision, 2),
    'modified_recall': round(avg_mod_recall, 2)
}

print("\n")
results_df.to_csv('results/ner/llama-DP.csv')

# Apply styling to highlight rows where original_res > modified_res and significant p-values
def highlight_drops_and_significance(row):
    colors = [''] * len(row)
    if row['original_res'] > row['modified_res']:
        colors = ['background-color: red'] * len(row)
        # If p-value < 0.05, add bold text
        if 'p_value' in row and row['p_value'] is not None and row['p_value'] < 0.05:
            colors = ['background-color: red; font-weight: bold'] * len(row)
    return colors

results_df.round(2).style.apply(highlight_drops_and_significance, axis=1)

concept_replacement_100
negation_100

temporal_bias_100
grammatical_role_100
discourse_100
coordinating_conjunction_100
geographical_bias_100
punctuation_100
length_bias_100
capitalization_100
active_to_passive_100
compound_word_100
dialectal_100
typo_bias_100
casual_100
derivation_100
sentiment_100

/var/folders/10/sw0slq6565ddbg_lqxxhpqzh0000gn/T/ipykernel_41203/2690146823.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  results_df.loc[len(results_df)] = {